:root {
    --header-color: linear-gradient(135deg, #d96ccc, #a05097);
    --primary-color: #d96ccc;
    --canvas-color: #ececec;
    --surface-color: #ffffff;
    --success-color: #4CAF50;
    --danger-color: #bb1313;
    --text-color: #333;
    --start-color: linear-gradient(135deg, #66bb6a, #388e3c);
    --process-color: linear-gradient(135deg, #8295bd, #4f628b);
    --decision-color: linear-gradient(135deg, #ffe082, #d9a817);
    --inputoutput-color: linear-gradient(135deg, #898d92, #474d53);
    --end-color: linear-gradient(135deg, #ef5350, #a50f0f);
}

.app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    display: flex;
}

.header {
    height: 70px;
    background: var(--header-color);
    color: var(--surface-color);
    display: flex;
    align-items: center;
    padding: 30px;
}

.botoes {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.salvar-button,
.carregar-button{
    margin-left: 10px;
    padding: 5px 10px;
    background-color: var(--success-color);
    color: var(--surface-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s;
}

.salvar-button:hover,
.carregar-button:hover {
    transform: scale(1.05);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.sidebar {
    width: 250px;
    background: var(--surface-color);
    border-right: 1px solid #ddd;
    padding: 20px;
}

.flowCanvas {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--canvas-color);
}

.startNode {
    width: 120px;
    height: 50px;
    background: var(--start-color);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: relative;
}

.processoNode {
    width: 150px;
    height: 60px;
    border-radius: 8px;
    background: var(--process-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.entradaNode, .saidaNode {
    width: 130px;
    height: 75px;
    background: var(--inputoutput-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: skew(-10deg);
}
.entradaNode span, .saidaNode span {
    transform: skew(10deg);
}

.decisionNode {
    width: 160px;
    height: 160px;
    position: relative;
}

.decisionDiamond {
    background: var(--decision-color);
    width: 110px;
    height: 110px;
    position: absolute;
    left: 25px;
    top: 25px;
    transform: rotate(45deg);
}

.decisionContent {
    width: 100%;
    height: 100%;
    transform: rotate(-45deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.decisionContent span {
    display: block;
    width: 100%;
    text-align: center;
}

.decisionContent input, .entradaNode input, .saidaNode input, .processoNode input {
    width: 75%;
    border-radius: 4px;
    margin-top: 5px;
    border: 1px solid var(--surface-color);
}

.endNode {
    width: 120px;
    height: 50px;
    background: var(--end-color);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: relative;
}

.startNode,
.processoNode,
.entradaNode,
.saidaNode,
.decisionDiamond,
.endNode {
    color: var(--surface-color);
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.react-flow__handle.source {
    width: 7px;
    height: 7px;
    background-color: #ff0000;
}

.react-flow__handle.target {
    width: 7px;
    height: 7px;
    background-color: var(--primary-color);
}

.sidebarItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    background: var(--surface-color);
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    cursor: pointer;
}

.sidebarItem button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s;
}

.sidebarItem button:hover {
    transform: scale(1.1);
    color: var(--primary-color);
}

